* {
    font-family: "Work Sans", sans-serif;
}

header {
    background-image: url("../images/banner/banner2.png");
    width: 1600px;
    height: 800px;

}

.header-section {
    padding: 215px 230px 350px 850px;
}

.title {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 32px;

}

.description {
    margin-bottom: 24px;
}

#orange{
    height: 65px;
    width: 160px;
    background-color: #F15B22;
    border-radius: 5px;
    border: 0;
    color: aliceblue;
}